h1 {
  color: #5862ad;
  font-size: 50px;
  font-weight: bold;
}

.product-item img {
  margin-right: 20px;
}

.product-details {
  text-align: left;
}


.product-form label {
  display: block;
  margin-bottom: 10px;
}

.product-form input[type='text'],
.product-form input[type='file'] {
  margin-top: 5px;
  margin-bottom: 15px;
}
