<header class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/logo_vtec.png" alt="VTEC Lasers & Sensors" class="logo" />
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <nav class="navbar-nav ms-auto">
      <a class="nav-link" routerLink="/">Home</a>
      <a class="nav-link" routerLink="/products">Products</a>
      <a class="nav-link" routerLink="/roadmaps">Roadmaps</a>
      <a class="nav-link" routerLink="/profile">Profile</a>
    </nav>
  </div>
</header>
